---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
    
    
    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/main.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
        <img src="../assets/img/nat.jpg" ALIGN="center" ; width:30px; height:30px;"/>
        </div>
    </div>
    
    
    <main class="site__content">
      <section class="blog">
        <div class="container">
           <center>
             
              <h2> Hello! Welcome to my website</h2>
            <p> 
              Here you can know more about my <a href="https://nzunigag.github.io/projects/">projects</a>, 
              <a href="https://nzunigag.github.io/publications/">publications</a>, and 
              <a href="https://nzunigag.github.io/teaching/">teaching</a> experience. <br>
           
              Feel free to <a href="mailto:nzuniga@utexas.edu">contact</a> me with questions and comments. Email: nzuniga[at]utexas[dot]edu
            </p>
             </center>
          <justify>
            <img src="../assets/img/nat.jpg" ALIGN="left" style="margin:10px 15px ; width:300px; height:300px;"/>
            
              <h2> About me</h2> 
            I am a Ph.D. Candidate in  <a href="http://www.caee.utexas.edu/transportation">Transportation Engineering</a> at the University of Texas at Austin 
            working with <a href="https://sites.utexas.edu/machemehl/">Dr. Randy Machemehl</a>. 
            I hold a master's in Statistics and a master's in Civil Engineering from UT Austin. 
            I received a B.Sc. in Civil Engineering from the University of Costa Rica, where I served as interim professor and researcher before joining UT Austin for graduate school. <br>
       
            I am interested in the applications of data analytics and AI/machine learning methods in transportation engineering and bridging the gap between these areas to provide planning and operations solutions.
          In addition to my academic work, I am involved in mentoring activities that promote STEM careers to new generations. 
          I occupy leading positions in student and community organizations.
            </p>
            <b>Downloads:</b> <a href="https://nzunigag.github.io/downloads/zuniga-resume.pdf">Resume</a> and <a href="https://nzunigag.github.io/downloads/zuniga-cv.pdf">CV</a> (last update: 06/2020) <br>
          
          
          <b> <a href="https://www.linkedin.com/in/nzunigag">LinkedIn</a> </b> &nbsp;
          <b> <a href="https://scholar.google.com/citations?hl=en&user=_pHPRgoAAAAJ&view_op=list_works&gmla=AJsN-F5f6KE2TmxGoTIv-BT9B-WCJC4d_K-TCt6PpSAbzO8skCnewF-T2nCVCbjcWxi9eotjLBYeILaOn8f_wTOYH04lyEtwJv0AkBpM07FSM51_EpY6u7E">Google Scholar</a> </b> &nbsp;
          <b> <a href="https://www.researchgate.net/profile/Natalia_Zuniga-Garcia">Research Gate</a> </b>
          
             
            </p>
            </justify>
    
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
      
      
    {% include footer.html %}

  </body>

</html>
