---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
    
    
    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/main.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
        </div>
    </div>
    
    
    <main class="site__content">
      <section class="blog">
        <div class="container">
           <center>
             
              <h2> Hello! Welcome to my website</h2>
            <p> 
              Here you can know more about my background <a href="https://nzunigag.github.io/cv/">CV</a>, 
              <a href="https://nzunigag.github.io/publications/">publications</a>, and 
              <a href="https://nzunigag.github.io/teaching/">teaching</a> experience. <br>
           
             </center>
          <justify>
            <img src="../assets/img/nat.jpg" ALIGN="left" style="margin:10px 15px ; width:300px; height:300px;"/>
            
              <h2> About me</h2> 
            Hi! My name is <b>Natalia Zuniga-Garcia</b>. I am a research scientist in the <a href="https://vms.taps.anl.gov/"> Vehicle and Mobility Systems group</a> at <a href="https://www.anl.gov/"> Argonne National Laboratory</a> – a U.S. Department of Energy (DOE) research center and I hold a joint appointment with the <a href="https://www.uchicago.edu/en"> University of Chicago</a>, Consortium for Advanced Science and Engineering (CASE). <br>
            <p>
              
            I obtained a Ph.D. in Civil Engineering with a focus on <a href="http://www.caee.utexas.edu">Transportation Systems</a>  at the University of Texas at Austin, where I also obtained an M.Sc. in Statistics and Data Sciences. In my research work, I use statistics and econometric models, AI/machine learning & stochastic methods, and simulation tools to understand the mobility and energy impact of new transportation technologies, such as electric vehicles (EVs) & freight fleet electrification, connected & autonomous vehicles (CAVs), and transportation network companies (TNCs) or e-hailing services (e.g., Uber & Lyft).<br> 
            <p>
                
            I have published 25+ peer-reviewed papers in the field's top journals, with more than 500 citations. My work has been presented at 50+ conferences worldwide. During the last five years, I received multiple competitive scholarships and awards for research, teaching, and leadership excellence. <br>
            <p>
              
          <b>Links:</b>
          <b> <a href="https://www.linkedin.com/in/nzunigag">LinkedIn</a> </b> &nbsp;
          <b> <a href="https://scholar.google.com/citations?hl=en&user=_pHPRgoAAAAJ&view_op=list_works&gmla=AJsN-F5f6KE2TmxGoTIv-BT9B-WCJC4d_K-TCt6PpSAbzO8skCnewF-T2nCVCbjcWxi9eotjLBYeILaOn8f_wTOYH04lyEtwJv0AkBpM07FSM51_EpY6u7E">Google Scholar</a> </b> &nbsp;
          <b> <a href="https://www.researchgate.net/profile/Natalia_Zuniga-Garcia">Research Gate</a> </b>
          
             
            </p>
            </justify>
    
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
      
      
    {% include footer.html %}

  </body>

</html>
