---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/main.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
       <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
       <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="nzunigag"><a class="LI-simple-link" href='https://www.linkedin.com/in/nzunigag?trk=profile-badge'>LinkedIn Profile</a></div>
        </div>
    </div>
    
    
    <main class="site__content">
      <section class="blog">
        <div class="container">
          <justify>
            <p> 
            <img src="../assets/img/nat.jpg" ALIGN="left" style="margin:10px 15px ; width:300px; height:300px;"/>
                
              <h2> Hello! Welcome to my website</h2>
            <p> 
              Here you can know more about my <a href="https://nzunigag.github.io/projects/">projects</a>, 
              <a href="https://nzunigag.github.io/publications/">publications</a>, 
              <a href="https://nzunigag.github.io/teaching/">teaching</a> experience, and about other 
              <a href="https://nzunigag.github.io/activities/">activities</a> I like to do. 
              Feel free to <a href="https://nzunigag.github.io/contact/">contact</a> me with questions and comments. 
            </p>
            
              <h2> About</h2> 
            Natalia is a Ph.D. candidate in  <a href="http://www.caee.utexas.edu/transportation">Transportation Engineering</a> at the University of Texas at Austin 
            working with <a href="https://sites.utexas.edu/machemehl/">Dr. Randy Machemehl</a>. 
            She holds a master in Statistics and a master in Civil Engineering from UT Austin.
            She received her B.Sc. in Civil Engineering from the University of Costa Rica, where she served as an interim professor and researcher before joining UT Austin for graduate school.
            </p>
            Natalia is interested in the applications of data analytics and AI/machine learning methods in transportation engineering and bridging the gap between these areas to provide planning and operations solutions. 
            In addition to her academic work, Natalia is involved in mentoring activities that promote STEM careers to new generations. She occupies leading positions in student and community organizations.
            </p>
            <i><a href="https://nzunigag.github.io/downloads/NataliaZuniga_Resume.pdf">Resume</a> (last update: 06/2020).</i> <br>
            </p>
            
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
      
      
    {% include footer.html %}

  </body>

</html>
